body{
    margin:0%;
}
*{
    font-family: 'Poppins', sans-serif;
    background-color:#000;   
        padding-top: 0px;
    
}

.theme-color{
    color: #155AD9;
}

.logo{
    height: 90px;
   width: 90px;
}
.theme-bg{
    background-color: #155AD9;
}

.theme-btn{
    background-color: #155AD9;
    color: #F7F7F7;
}
.theme-btn:hover{
    background-color: #155AD9;
    color: #F7F7F7;
}

.login-header{
  
    color:rgb(0, 0, 0);
    font-weight: 1000;
    background-color: white;
}

.brand-light{
    color: #FFFFFF;
    font-weight: 500;
}
.brand-light:hover{
    color: #FFFFFF;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url("images/bgg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-card{
    background-color: #FFFFFF;
}

.login-btn {
    background-color: #155AD9;
}
 .login-btn:hover{
     color: white;
 }

 /* Dashboard */

 .logout-btn{
     color: #FFFFFF;
     border: 1px solid #3AB4F3;
     background-color: #3AB4F3;
 }

 .logout-btn:hover{
    color: #FFFFFF;
    border: 1px solid #3AB4F3;
    background-color: #66c9ff;
}

.action-btn{
    background-color: #155AD9;
    color: white;
}

.action-btn:hover{
    background-color: #6A51E4;
    color: white;
}

.fa-plus-square{
    color: white;
}

/* Add Books */

.form-header{
    background-color: #F7F7F7;
    color: #3F3D56;
    font-weight: 500;
}
.col-6 col-lg-6{
    background-color: white;
}
.navbar-toggler-icon{
    display: block;
    /* position: absolute; */
    background-color: white;
    /* opacity: 1;
    outline: none;
    box-shadow: none;
   border: 0;
   background:white;
   transition: .25s ease-in-out; */
}
.container-fluid{
    background-color: #000;
    padding-top: 0px;
}

.navbar.bg-light.fixed-top{
    padding-top: 0px;
    padding-bottom: 0px;
}
.mt-4{
    background-color: black;
    padding-bottom: 10px;
}
.sign-up{
    background-color: white;
}

.btn.login-btn.btn-block{
    font-weight: 1000;
    /* color: #155AD9; */
    background-color: white;
    margin-top: 11px;
}

.pb-2{
    padding-top: 7px;
}
.offcanvas-end{
    color: #F7F7F7;
    border-radius: 50%;
}

.offcanvas-title{
    color: white;
}

#home,#Purchase,#dropdown{
color: #fcfbfe;
}

.offcanvas-header .btn-close{
    background-color: white;
}

.text-center{
    background-color: #000;
    color: white;
}

.rounded{
    background-color: #000;
}
.sign-up{
    background-color:black;
}
a:hover {
    color:white 
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }
  .nav{
    padding: 0.5rem 1rem;
    background:white;
    border-bottom: 1px solid  rgb(245, 244, 244);
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    font-size: 2rem;
    color: rgb(182, 34, 34);
  }
  #convertBtn,#upload-msg,#download{
    border: none;
    outline: none;
    background: rgb(89, 150, 248);
    color: white;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    margin-right: 2rem;
  }
  #download,#convertBtn{
    display: none;
  }
  
  .input-page{
    position: relative;
    top: 0;
  }
  .add-more-files{
    width: 40vw;
    border-radius: 0.5rem;
    padding: 5rem;
    margin:5rem auto;
    text-align: center;
    background: #000;
    /* box-shadow: white 0px 5px 15px; */
    position: relative;
    left: 50%;
  }
  .inp-container{
    cursor: pointer;
    position: relative;
    
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(124, 124, 145, 0.1) 0px 16px 48px;
    height: 15rem;
    background: #000;
    width: 15rem;
    border-radius: 50%;
    border: 1px dashed rgb(195, 193, 193);
    margin: auto;
    border-width: 0.15rem;
   box-shadow: #fcfbfe;
  }
  #upload-file{
    opacity: 0;
    display: block;
    height: 16rem;
    width: 100%;
    position: absolute;
    left: 50%;
    cursor: pointer;
  }
  .img-icon{
    color:  rgba(128, 144, 238, 0.596);
  }
  #custom-file{
    color: rgb(96, 102, 155);
    position: relative;
    top: 0.5rem;
    padding: 0.5rem 0.8rem;
    font-size: 1.1rem;
    border-radius: 0.2rem;
    font-weight: 600;
  }
  
  span{
    font-size: 1.45rem;
  }
  .drop{
    margin-top: 3rem;
    font-size: 1rem;
    color: rgb(108, 107, 175);
  }
  
  .pdf-page{
    z-index:-1;
    min-height: 90%;
    width:100%;
    display: none;
    overflow: hidden;
  }
  .create-pdf{
    position: relative;
    padding: 1rem;
    margin: auto;
    color: white;
    background-color: #000;
  }
  .file-item{
    padding: 0 1rem;
    background: none;
    text-align: center;
    position: relative;
    width: 10rem;
    height: 16rem; 
    text-align: center;
    margin: 1rem;
    display: inline-block;
    transition: 0.3s all ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .modify button{
    padding: 0.3rem;
    font-size: 1rem;
    color: rgb(250, 64, 64);
    border-radius: 50%;
  }
  .img-container{   
    width: 8.5rem;
    margin: auto;
    height: 11rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #img{
    position: relative;
    max-width: 9rem;
    max-height: 11rem;
    background: white;
    overflow: hidden;
    box-sizing: border-box;
    border: 0.1rem solid rgb(223, 222, 222);
  }
  .file-item button{
    margin: 0 0.2rem;
    background: none;
    border: none;
    outline: none;
    font-size: 1.2rem;
    transition: 0.3s all ease-in-out;
    opacity: 0;
    padding: 0.3rem 0.5rem;
  
  }
  .file-item button:hover{
    background: rgb(224, 248, 251);
  }
  .file-item:hover button{
    opacity: 1;
  }
  .delete{
    pointer-events: none;
  }
  #img-name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 8.5rem;
    text-align: center;
    margin: 1rem auto;
    color: white;
  }
  
  .add-more-file{
      padding: 0 1rem;
      background: none;
      text-align: center;
      position: relative;
      margin: 0.5rem;
      display: ruby-base-container;
      transition: 0.3s all ease-in-out;   
      width: 10rem;
      height: 16rem; 
      vertical-align: top;
  }
   .inp-cont{
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    border-radius: 50%;
    position: relative;
    text-align: center;
    border: none;
    background: rgb(241, 246, 246); 
    width: 3rem;
    height: 9rem;
    margin: 3rem auto;
    background-color: #000;
    color: white;
    /* background-image: url("plus.png"); */
    top: 50%;
  }
  #inp{
    opacity: 0;
    display: block;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
  }
  
  .create-pdf .add-more-file p{
    position: relative;
    top: -3.5rem;
  }